APP_PORT=8080
GHCR_BACKEND_IMAGE=ghcr.io/sadiki411/rubber-factory-erp-backend:latest
GHCR_WEB_IMAGE=ghcr.io/sadiki411/rubber-factory-erp-web:latest
DJANGO_SECRET_KEY=change-this-to-a-long-random-string
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8080,http://127.0.0.1:8080
DJANGO_SECURE_COOKIES=0
DJANGO_SUPERUSER_USERNAME=erpadmin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=change-this-password
GUNICORN_THREADS=4
BACKUP_RETENTION_COUNT=30
BACKUP_BEFORE_MIGRATE=1
TZ=Asia/Shanghai
